# Common Ignores
.gradle/
.idea/
.ipynb_checkpoints/
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
.classpath
.settings/
.metadata/
._*
bin/
Thumbs.db
build/
ehthumbs.db
logs/
target/
*~
*.class
*.com
*.dll
*.dmg
*.ear
*.epoch
*.exe
*.gz
*.iml
*.ipr
*.iso
*.iws
*.jar
*.log
*.[ao]
*.orig
*.rar
*.ser
*.so
*.swp
*.swo
*.tar
*.tar.gz
*.tgz
*.war
*.zip
*.7z
*.asv
*.py[cod]
/.metadata
out/
__pycache__/
*.db

# SBT
lib_managed/
src_managed/
project/boot/
.history
.cache
.coverage
htmlcov/
.tox/
*.egg
*.egg-info
dist/

*.retry
*.bin
